*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62,5%;
}
body{
    background-color: white;
}
header{
    background-color:#DAE7FE;
    color: white;
}
h1{
    font-size: 3rem;
}
header nav a{
    color:white;
    font-size: 1.5rem;
}
.contadoraWendy{
    font-size: 1.5rem;
}
header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
}

nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}
@media (max-width: 768px) {
    nav ul {
    flex-direction: column;
    align-items: center;
    }

    h1 {
    font-size: 2.2rem;
    text-align: center;
    }
}

