*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62,5%;
}
body{
    background-color: white;
}
header{
    background-color:#DAE7FE;
    color: white;
}
h1{
    font-size: 3rem;
}
header nav a{
    color:white;
    font-size: 1.5rem;
}
.contadoraWendy{
    font-size: 1.5rem;
}